bqplot
ipycanvas>=0.9.1
ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=8.0.0
jupyterlab
jupyterlab-drawio
jupyterlab-filesystem-access
jupyterlab-fasta>=3
jupyterlab-geojson>=3
jupyterlab-tour
jupyterlite
plotly>=5
bokeh
panel
